<div class="container" >
    <div class="wrapper">
        <p>¿Qué quieres hacer?</p>
        <form #form2="ngForm" method="post">
           
            <div class="form-group">
                <label class="form-label">Número de páginas </label>
                <button class="btn"></button>
                <input type="number">
                <button class="btn"></button>
            </div>
            
            <div class="form-group">
                <label class="form-label">Número de idiomas </label>
            </div>
        </form>
        
    </div>
</div>