.btnSpinner {
    background-color: orangered;
    color: white;
    border-radius: 5px;
    font-size: large;
    border: none;
}

.borderBlack {
    border: 2px solid #000;
    border-radius: 5px;
}

.wrapper {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    display: block;
    position: relative;
    border: solid 3px #212529;
    padding: 40px 60px;
    max-width: 800px;
    width: 50%;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
}

.wrapper:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.wrapper:hover .border {
    transform: translateY(4px) rotate(-5deg);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}