<div class="container d-flex justify-content-center mt-5">
    <div class="wrapper">
        <p class="pt-3">¿Qué quieres hacer?</p>
        <form #form1="ngForm" [formGroup]="form" method="get" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
                <div *ngFor="let data of Data; let i=index">
                    <label class="paddingInput">
            <input [id]="data.id" type="checkbox" [value]="data.value" (change)="checkValue($event)" />
            {{data.name}}
          </label>
                    <div *ngIf="data.id == 'web' && showPanell">
                        <app-panell (modifiedTotal)="getTotal($event)"></app-panell>
                    </div>
                </div>
            </div>
            <div class="form-group p-1">
                <label class="form-label" for="price">Preu: {{sumProject()}}€</label>
            </div>
            <div class="form-group p-1 ">
                <label class="form-label" for="budget_name">Nom de pressupost: </label>
                <input type="text" class="form-control" name="budget_name" formControlName="budget_name" />
            </div>
            <div class="form-group p-1 ">
                <label class="form-label" for="user_name">Nom client/a: </label>
                <input type="text" class="form-control" name="user_name" formControlName="user_name" />
            </div>

            <button class="btn backColorBtn mt-3 textBtn fw-bolder colorHover" type="submit">Enviar</button>
        </form>
        <button class="btn backColorBtn mt-3">
      <a class="textBtn fw-bolder" routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Go
        Back</a>
    </button>
    </div>
</div>